/*---------giving font family for whole document----------*/

body {
    margin: 0;
}

* {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-weight: 400;
}

div {
    margin-bottom: 1.1em;
}

.align-text-center {
    text-align: center;
}

.highlight-txt {
    opacity: .7;
}

.sub-headings {
    font-size: 13px;
    font-weight: 568;
}

/*Removing underline from all anchor tag*/

a {
    text-decoration: none;
    color: black;
}

/*------shop now button-------*/

.shop-btn>a {
    font-size: 15px;
    padding: 10px 35px;
    display: inline-block;
    border: 2px solid black;
}

.shop-btn>a:active {
    background-color: black;
    color: white;
}
/*-----------------Header part CSS start here---------------------------*/

.header {
    position: relative;
}

/*---page main heading SHOP---*/

.main-heading {
    font-size: medium;
    font-weight: 800;
    margin-top: 1.4em;
}

/*-----giving css to navbar-----*/

.nav-container {
    display: flex;
    justify-content: center;
}

.nav-container>div {
    margin: 0px;
}

.nav-container a {
    color: black;
    font-size: small;
    margin-right: 30px;
}

.nav-container a:active {
    background-color: black;
    opacity: 0.5;
    border-bottom: 1px solid black;
}

/*----Css for cart icon-----*/

.cart-icon {
    position: absolute;
    width: 20px;
    top: 0;
    right: 25px;
}

/*------responsive queries------*/

@media only screen and (min-width: 768px) {
    .item-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width:767px) {
    #no-profile {
        display: none;
    }
    .nav-container {
        display: none;
    }
    .addtocart {
        flex-direction: column;
    }
    .details {
        margin: 20px 0px 60px 0px;
        padding: 0px;
        width: 600px;
        max-width: 100%;
    }
    .details-padding {
        padding: 0px 20px;
    }
    .display-none {
        display: none;
    }
    .add-btn>a {
        color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px 0px;
        border: none;
        background-color: rgb(12, 12, 75);
        text-align: center;
        width: 100%;
        font-size: 15px;
    }
}