/*---------giving font family for whole document----------*/

body {
    margin: 0px;
}

* {
    font-family: sans-serif;
    text-align: center;
    font-weight: 400;
}

div {
    margin-bottom: 1.1em;
}

/*Removing underline from all anchor tag*/

a {
    text-decoration: none;
    color: black;
}

/*------shop now button-------*/

.shop-btn>a {
    font-size: 15px;
    padding: 10px 35px;
    display: inline-block;
    border: 2px solid black;
}

.shop-btn>a:active {
    background-color: black;
    color: white;
}

/*-----------------Header part CSS start here---------------------------*/
.header{
    position: relative;
}
/*---page main heading SHOP---*/
.main-heading {
    font-size: medium;
    font-weight: 800;
    margin-top: 1.4em;
}

/*-----giving css to navbar-----*/

.nav-container {
    display: flex;
    justify-content: center;
}

.nav-container>div {
    margin: 0px;
}

.nav-container a {
    color: black;
    font-size: small;
    margin-right: 30px;
}

.nav-container a:active {
    background-color: black;
    opacity: 0.5;
    border-bottom: 1px solid black;
}

/*----Css for cart icon-----*/

.cart-icon {
    position: absolute;
    width: 20px;
    top: 0;
    right: 25px;
}

/*-----CSS for home itmes-----*/

.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.mens-wear {
    grid-column: 1/3;
}

.ladies-wear {
    grid-column: 1/3;
}

/*------giving css to profile pic ------*/

.profile-pic {
    height: 51vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*giving background to mens wear*/

.mens-pic {
    background-image: url('image/mens_outerwear.jpg');
}

/*giving background to ladies wear*/

.lady-pic {
    background-image: url('image/ladies_outerwear.jpg');
}

.mens-tshirt-pic {
    background-image: url('image/mens_tshirts.jpg');
}

.ladies-tshirt-pic {
    background-image: url('image/ladies_tshirts.jpg');
}

/*-----------footer-------------*/

.footer {
    margin: 0%;
}

.footer h5 {
    opacity: 0.7;
}

.footer>span {
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 13px;
    padding: 12px 20px 18px 20px;
}

/*-----css for mens outerwear------*/

.item-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.item-container img {
    max-width: 100%;
}

/*------responsive queries------*/

@media only screen and (min-width: 768px) {
    .item-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width:767px){
    #no-profile{
        display: none;
    }
    .nav-container{
        display: none;
    }
}