/*---------giving font family for whole document----------*/

body {
    margin: 0;
}

* {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-weight: 400;
    
}
p,h1,h2,h3,h4,h5,h6,a{
    opacity: 0.9;
}

div {
    margin-bottom: 1.1em;
}

.align-text-center {
    text-align: center;
}

.highlight-txt {
    opacity: .7;
}

.sub-headings {
    font-size: 13px;
    font-weight: 568;
}

/*Removing underline from all anchor tag*/

a {
    text-decoration: none;
    color: black;
}

/*------shop now button-------*/

.shop-btn>a {
    font-size: 15px;
    padding: 10px 35px;
    display: inline-block;
    border: 2px solid black;
}

.shop-btn>a:active {
    background-color: black;
    color: white;
}

/*-----------------Header part CSS start here---------------------------*/

.header {
    position: relative;
}
.header h1{
    margin: 12px 0px 40px 0px;
}
/*---page main heading SHOP---*/

.main-heading {
    font-size: medium;
    font-weight: 800;
}

/*-----giving css to navbar-----*/

.nav-container {
    display: flex;
    justify-content: center;
}

.nav-container>div {
    margin: 0px;
}

.nav-container a {
    color: black;
    font-size: small;
    margin-right: 30px;
}

.nav-container a:active {
    background-color: black;
    opacity: 0.5;
    border-bottom: 1px solid black;
}

/*----Css for cart icon-----*/

.cart-icon {
    position: absolute;
    width: 20px;
    top: 0;
    right: 25px;
}

/*-----CSS for home itmes-----*/

.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.mens-wear {
    grid-column: 1/3;
}

.ladies-wear {
    grid-column: 1/3;
}

/*------add to cart page-----*/

.addtocart {
    display: flex;
    justify-content: center;
}

.addtocart img {
    width: 600px;
    max-width: 100%;
}

.select-box {
    width: 100%;
    appearance: none;
    padding: 10px 24px;
    border: none;
    background-color: transparent;
    border-radius: 0;
    font-size: 1em;
    font-weight: 300;
    border-bottom: 1px solid rgb(187, 187, 187);
    border-top: 1px solid rgb(187, 187, 187);
    margin: 0;
}

.details {
    margin: 64px 32px;
    width: 50%;
    max-width: 400px;
}

.textsize {
    font-size: 13px;
}

/*--------checkout page--------*/

.checkout-details {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 40px 0px;
    justify-items: center;
    align-items: center;
}

.checkout-details div {
    display: inline-block;
    margin: 0px 30px;
}

.checkout-top {
    margin-top: 82px;
}

.cross-icon {
    width: 10px;
    height: 10px;
}

.text-wrapper {
    display: inline-block;
    max-width: 100%;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.checkout-img {
    width: 75px;
    height: 90px;
}

.align-text-right {
    text-align: right;
    margin-right: 25%;
}

/*------place-order-------*/

.form-align {
    padding: 0px 20px 20px 20px;
}

.display-inline {
    display: inline;
}

.select-box2 {
    width: 100%;
    appearance: none;
    padding: 10px 24px;
    border: none;
    background-color: transparent;
    border-radius: 0;
    font-size: 1em;
    font-weight: 300;
    border-bottom: 1px solid rgb(187, 187, 187);
    margin: 0;
}

input {
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
}

/*------giving css to profile pic ------*/

.profile-pic {
    height: 51vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*giving background to mens wear*/

.mens-pic {
    background-image: url('image/mens_outerwear.jpg');
}

/*giving background to ladies wear*/

.lady-pic {
    background-image: url('image/ladies_outerwear.jpg');
}

.mens-tshirt-pic {
    background-image: url('image/mens_tshirts.jpg');
}

.ladies-tshirt-pic {
    background-image: url('image/ladies_tshirts.jpg');
}

/*-----------footer-------------*/

.footer {
    margin: 0%;
}

.footer h5 {
    opacity: 0.7;
}

.footer>span {
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 13px;
    padding: 12px 20px 18px 20px;
}

/*-----css for mens outerwear------*/

.item-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.item-container img {
    max-width: 100%;
}

/*------responsive queries------*/

@media only screen and (min-width:360px) and (max-width:767px) {
    .item-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    .item-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width:767px) {
    #no-profile {
        display: none;
    }
    .header h1{
        margin: 12px 0px 12px 0px;
    }
    .nav-container {
        display: none;
    }
    .addtocart {
        flex-direction: column;
    }
    .details {
        margin: 20px 0px 60px 0px;
        padding: 0px;
        width: 600px;
        max-width: 100%;
    }
    .details-padding {
        padding: 0px 20px;
    }
    .display-none {
        display: none;
    }
    .add-btn>a {
        opacity: 1;
        color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 25px 0px;
        border: none;
        background-color: #000044;
        text-align: center;
        width: 100%;
        font-size: 15px;
    }
}